h1 {
    color: #325453; 
    text-align: center;
}

h2{
    color: #517174;
    margin-right: 200px;
    margin-left: 200px;
}

h3{
    color: #C2C5CC;
    margin-right: 200px;
    margin-left: 200px;
}

p{
    margin-right: 200px;
    margin-left: 200px;
    line-height: 2;
}

nav{
    text-align: center;
    line-height: 2;
}

footer{
    text-align: center;
}

body {
    padding: 15px;
    margin: 5px;
    font-family: 'Bookman Old Style', sans-serif;
    font-size: 18px;
    font-style: italic;
    background-color: #dbce87;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
    padding: 10px;
}
